.userOptionsIcon {
    align-self: end;
    width: 20px;
    right: 0;
    margin-left: auto;
    cursor: pointer;
}

img.ipOptionsIcon {
    width: 20px;
    align-self: end;
    margin-left: auto;
    cursor: pointer;
}

.ipName {
    float: left;
}

.AccessUsersTitle{
    padding: 5px
}

.AccessIpTitle{
    padding: 5px
}

.ipIp {
    margin-left: 15px;
    float: left;
}

.ipListItem {
    clear: both;
    background: #F8F8F8;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.13);
    padding: 10px 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    position: relative;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    outline: none;
}

.userListItem{
    clear: both;
    background: #F8F8F8;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.13);
    padding: 10px 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    position: relative;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    outline: none;
}

.AccessIpHeader{
    clear: both;
}
.AccessIpTitle{
    float: left;
}
.AccessIpAdd{
    width: 40px;
    float: right;
    cursor: pointer;
}


.AccessUserHeader{
    clear: both;
}
.AccessUserTitle{
    float: left;
}
.AccessUserAdd{
    width: 40px;
    float: right;
    cursor: pointer;
}

