.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* CUSTOM CSS */
body, html{
  font-family: OpenSans !important;
}

@font-face {
  font-family: OpenSans;
  src: url("./Media/Fonts/Open_Sans/OpenSans-Regular.ttf");
}

#SideBar{
	position: absolute;
  width: 600px;
  height: 100%;
  right: 0;
  top: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  overflow-y: auto;
}

.color-green {
	color: #44de1e;
  }
  .color-yellow {
	color: #dade1e;
  }
  .color-red {
	color: #de3636;
  }
  .color-blue {
	color: #36b6de;
  }