.btn {
  background: #009ddc;
  border-radius: 5px;
  height: 37px;
}

.textarea {
  background: #ebebeb;
  border-radius: 5px;
  height: 37px;
  width: 100%;
}

.textarea:focus {
  color: #495057;
  background-color: #ebebeb;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.box {
  background: #f8f8f8;
  border-radius: 5px;
  margin-top: 10px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.7s cubic-bezier(0, 1, 0, 1);
  box-sizing: border-box;
}

.color {
  color: white;
}

.boxOpen {
  max-height: 1000px;
  transition: max-height 0.7s ease-in;
}

.box > form {
  margin: 10px;
}

.btnpos {
  float: right;
  margin-bottom: 10px;
}

.unsuccesfull {
  float: right;
  padding-right: 10px;
  padding-top: 8px;
  color: red;
}

.unsuccesfullDelete {
  float: right;
  padding-right: 75px;
  padding-top: 8px;
  color: red;
}

.succes {
  float: right;
  padding-right: 10px;
  padding-top: 8px;
  color: green;
}

.succesfulDelete {
  float: right;
  padding-right: 220px;
  padding-top: 8px;
  color: green;
}

.topRowDropdown {
  position: relative;
  display: flex;
  align-items: center;
}

.sliderIcon {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.contentContainer {
  width: 80%;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 90px;
}

.AddUserForm .true{
    height: 218px !important;
}
.AddUserForm input, .AddIPForm input{
  margin-top: 5px;
}
.AddUserForm input:first-child, .AddIPForm input:first-child{
  margin-top: 0px;
}
.AddIPForm .true{
  height: 175px !important;
}
.SGFormHolder{
  width: 100%;
  z-index: 0;
  overflow: hidden;
}