.Background{
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    background: url("../../Media/images/Backgroundpatterns.png")repeat;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginForm{
    display: flex;
    height: 500px;
    width: 400px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.33);
    align-items: center;
}

.LoginFormLogo{
    width: 35% !important;
    margin-top: 16px;
}
.LoginForm h1{
    color: #6C7C7C;
    text-align: center;
    position: relative;
}
.LoginForm h1::before{
    content: '';
    width: 107px;
    height: 5px;
    background: #009DDC;
    position: absolute;
    right: 0;
    margin: auto;
    left: 0;
    bottom: -14px;
}

.card-header{
    text-align: center;
    border-bottom: none !important;
}
.LoginForm span{
   color: rgba(0, 0, 0, 0.4);
   font-size: 14px;
}

.LoginForm form{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginForm button{
    background: #009DDC;
    width: 80%;
    color: white;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
    padding: 10px;
    font-weight: 500;
    margin-top: 20px;
}

.LoginForm .form-group{
    width: 80%;    
}
.LoginForm .form-group input{
   border-radius: 2px;  
   box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
   border: none;
   color: rgba(0, 0, 0, 0.5);
   font-size: 16px;
}
.LoginForm .form-group input::placeholder {
    color: rgba(0, 0, 0, 0.23);
    opacity: 1; /* Firefox */
  }
  .LoginForm a{
      color: rgba(0, 157, 220, 0.71);
  }